{% extends "base.html" %}
{% block content %}

<div class="form-container">
    <div class="form-box">
        <h2>Reset Password</h2>
        <p>Enter your email to get started</p>

        <form>
            <input type="email" placeholder="Email Address">
            <button class="btn primary full">Continue</button>
        </form>

        <p class="switch"><a href="/login"><img src="{{ url_for('static', filename='images/icons/arrow-left.svg') }}" alt="arrow left" class="icon-svg">Back to Login</a></p>
    </div>
</div>

{% endblock %} 